@page "/messages/details"
@using Microsoft.EntityFrameworkCore
@using FoundBoxSG.Domain
@inject IDbContextFactory<FoundBoxSG.Data.FoundBoxSGContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Messages</h2>
    <hr />
    @if (messages is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">SenderUserId</dt>
            <dd class="col-sm-10">@messages.SenderUserId</dd>
            <dt class="col-sm-2">MatchId</dt>
            <dd class="col-sm-10">@messages.MatchId</dd>
            <dt class="col-sm-2">Content</dt>
            <dd class="col-sm-10">@messages.Content</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@messages.CreatedBy</dd>
            <dt class="col-sm-2">ModifiedBy</dt>
            <dd class="col-sm-10">@messages.ModifiedBy</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@messages.DateCreated</dd>
            <dt class="col-sm-2">DateModified</dt>
            <dd class="col-sm-10">@messages.DateModified</dd>
        </dl>
        <div>
            <a href="@($"/messages/edit?id={messages.Id}")">Edit</a> |
            <a href="@($"/messages")">Back to List</a>
        </div>
    }
</div>

@code {
    private Messages? messages;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        messages = await context.Messages.FirstOrDefaultAsync(m => m.Id == Id);

        if (messages is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
